.cell-input {
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  height: 36px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  padding: 10px;
  width: 100%;
  border-radius: 5px;

&:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

  &_editing {
    border: 1px solid #414144;
    color: #71717A;
    background-color:  #202124;
    font-size: 14px;
  }
}

.level-icon {}

.level-trash {
  margin-left: 3px;
}

.level-block {
  display: flex;
  position: relative;
}

.icon-block {
  background: #414144;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0 2px;
}

.line {
  z-index: 10;
  position: absolute;
  left: -7px;
  width: 13px;
  border-left: 1px solid #C6C6C6;

  &__with-next {
    height: 100px;
    top: 10px;
  }

  &__with-prev {
    border-bottom: 1px solid #C6C6C6;
    height: 52px;
    bottom: 50%;

    &_long {
      height: 60px;
    }
  }
}